header{
  font-size: 25px;
  text-align: center;
  background-color: gray;
  margin: 0 20px;
  padding: 15px;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: #333;
  &:hover{
    text-decoration: underline;
  }
}

.active {
  color: #666;
  text-decoration: underline;
}
