<div class="face-snap-card" [ngClass]="{ snapped: buttonText === 'Oops, unsnap!'  }">
  <h2>{{ faceSnap.title | uppercase }}</h2>
  <a routerLink="/facesnaps">Back</a>
  <p>Mis en ligne le {{ faceSnap.createdDate | date: 'medium' }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p *ngIf="faceSnap.location">Le jeu se deroule a {{faceSnap.location}} </p>
  <p>{{ faceSnap.description }}</p>
  <p>
    <button (click)="onAddSnap()" >{{ buttonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">🤭{{ faceSnap.snaps }}</span>
  </p>
</div>
